/* line 4, ../../scss/partials/base.scss */
html, body, div, a, p, span,
h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
}

/* line 11, ../../scss/partials/base.scss */
.pagination-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

/* line 19, ../../scss/partials/base.scss */
.pagination-item,
.pagination-active,
.pagination-break {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  border-radius: 25px;
  border: 1px solid #2a2a2a;
  transition: all ease-in-out 0.125s;
  -webkit-transition: all ease-in-out 0.125s;
  -moz-transition: all ease-in-out 0.125s;
  -ms-transition: all ease-in-out 0.125s;
  -o-transition: all ease-in-out 0.125s;
}
/* line 31, ../../scss/partials/base.scss */
.pagination-item a,
.pagination-active a,
.pagination-break a {
  color: #2a2a2a;
  padding: 5px;
  width: 35px;
  display: block;
  text-align: center;
}
/* line 39, ../../scss/partials/base.scss */
.pagination-item:hover,
.pagination-active:hover,
.pagination-break:hover {
  cursor: pointer;
  background: #2a2a2a;
  border: 1px solid #2a2a2a;
}
/* line 44, ../../scss/partials/base.scss */
.pagination-item:hover a,
.pagination-active:hover a,
.pagination-break:hover a {
  color: #fff;
}

/* line 50, ../../scss/partials/base.scss */
.pagination-break {
  border: 1px solid transparent;
}
/* line 53, ../../scss/partials/base.scss */
.pagination-break:hover {
  cursor: none;
  background: transparent;
  border: 1px solid transparent;
}

/* line 60, ../../scss/partials/base.scss */
.pagination-active {
  background: #2a2a2a;
}
/* line 62, ../../scss/partials/base.scss */
.pagination-active a {
  color: #fff;
}

/* line 68, ../../scss/partials/base.scss */
.with-sub-column {
  display: grid;
  grid-template-columns: 7fr 3fr;
}
/* line 72, ../../scss/partials/base.scss */
.with-sub-column .main {
  border-right: 1px solid #ea3434;
}

/* line 80, ../../scss/partials/base.scss */
.width-50 {
  width: 50%;
}

/* line 83, ../../scss/partials/base.scss */
.width-60 {
  width: 60%;
}

/* line 86, ../../scss/partials/base.scss */
.width-70 {
  width: 70%;
}

/* line 89, ../../scss/partials/base.scss */
.width-80 {
  width: 80%;
}

/* line 92, ../../scss/partials/base.scss */
.width-90 {
  width: 90%;
}

/* line 95, ../../scss/partials/base.scss */
.width-100 {
  width: 100%;
}

/* line 100, ../../scss/partials/base.scss */
.margin-top-25 {
  margin-top: 25px;
}

/* line 103, ../../scss/partials/base.scss */
.margin-top-50 {
  margin-top: 50px;
}
