@import "compass";
@import "../partials/normalize.scss";
@import "../partials/base.scss";
@import "../partials/font.scss";
@import "../partials/mixin.scss";
@import "../partials/variables.scss";

.cart-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    li{
        padding: 2px 25px;
        color: $dark;
        border-right: 1px solid $dark;

        @include transition(0.125s);

        &:last-child{
            border: none;
        }

        &:hover{
            cursor: pointer;
            color:$red;
        }
    }
}