@import "compass";
@import "../partials/normalize.scss";
@import "../partials/base.scss";
@import "../partials/font.scss";
@import "../partials/mixin.scss";
@import "../partials/variables.scss";

#header{
    position: fixed;
    z-index:10;
    top: 0;
    left:0;
    width:100%;
    background: #ffffff90;
    box-shadow: 0 1px 5px $dark;
    height:100px;

    #head-menu{
        box-sizing: border-box;
        height: 100%;
        display: flex;
        align-items: center;
        ul{
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 20px 0;
            margin: 0;
            padding-left:60%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            
            li{
                color: $dark;
                text-decoration: none;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid transparent;
                align-items: center;
                height: 100%;
                text-transform: uppercase;
                font-family: "Montserrat";
                @include transition;

                &:hover{
                    cursor: pointer;
                    border-bottom: 1px solid $dark;
                }

                &.active{
                    font-weight: bold;
                    border-bottom: 1px solid $dark;
                }
            }
        }
    }
}