@import "compass";
@import "./partials/normalize.scss";
@import "./partials/base.scss";
@import "./partials/font.scss";
@import "./partials/mixin.scss";
@import "./partials/variables.scss";

#pagination{
    width:100%;
    display:flex;

    ul{
        list-style: none;
        display:flex;
        flex-direction: row;

        li{
            
        }
    }
}