/* normalize-scss 3.0.0-alpha.2+normalize.3.0.0 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base
   ========================================================================== */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/* line 106, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 101, ../scss/partials/normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 113, ../scss/partials/normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9. Correct `block` display
 * not defined on `summary` and `details` in IE and Firefox and on `main` in IE.
 */
/* line 125, ../scss/partials/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 145, ../scss/partials/normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 164, ../scss/partials/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 174, ../scss/partials/normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 183, ../scss/partials/normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 195, ../scss/partials/normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 204, ../scss/partials/normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE, Safari 5, and Chrome.
 */
/* line 216, ../scss/partials/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 224, ../scss/partials/normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 234, ../scss/partials/normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 243, ../scss/partials/normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 258, ../scss/partials/normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 267, ../scss/partials/normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 282, ../scss/partials/normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 288, ../scss/partials/normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 294, ../scss/partials/normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 300, ../scss/partials/normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 306, ../scss/partials/normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 318, ../scss/partials/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 329, ../scss/partials/normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 339, ../scss/partials/normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 347, ../scss/partials/normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 355, ../scss/partials/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 363, ../scss/partials/normalize.scss */
sup {
  top: -0.5em;
}

/* line 367, ../scss/partials/normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 379, ../scss/partials/normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 396, ../scss/partials/normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 404, ../scss/partials/normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 416, ../scss/partials/normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 431, ../scss/partials/normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow displayed in IE.
 */
/* line 444, ../scss/partials/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 456, ../scss/partials/normalize.scss */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 465, ../scss/partials/normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 483, ../scss/partials/normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 497, ../scss/partials/normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE.
 */
/* line 515, ../scss/partials/normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 526, ../scss/partials/normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 541, ../scss/partials/normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 556, ../scss/partials/normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 565, ../scss/partials/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 576, ../scss/partials/normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 591, ../scss/partials/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 608, ../scss/partials/normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 619, ../scss/partials/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 629, ../scss/partials/normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 639, ../scss/partials/normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 655, ../scss/partials/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE.
 */
/* line 669, ../scss/partials/normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 678, ../scss/partials/normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 689, ../scss/partials/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 694, ../scss/partials/normalize.scss */
td,
th {
  padding: 0;
}

/* line 4, ../scss/partials/base.scss */
html, body, div, a, p, span,
h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
}

/* line 11, ../scss/partials/base.scss */
.pagination-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

/* line 19, ../scss/partials/base.scss */
.pagination-item,
.pagination-active,
.pagination-break {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  border-radius: 25px;
  border: 1px solid #2a2a2a;
  transition: all ease-in-out 0.125s;
  -webkit-transition: all ease-in-out 0.125s;
  -moz-transition: all ease-in-out 0.125s;
  -ms-transition: all ease-in-out 0.125s;
  -o-transition: all ease-in-out 0.125s;
}
/* line 31, ../scss/partials/base.scss */
.pagination-item a,
.pagination-active a,
.pagination-break a {
  color: #2a2a2a;
  padding: 5px;
  width: 35px;
  display: block;
  text-align: center;
}
/* line 39, ../scss/partials/base.scss */
.pagination-item:hover,
.pagination-active:hover,
.pagination-break:hover {
  cursor: pointer;
  background: #2a2a2a;
  border: 1px solid #2a2a2a;
}
/* line 44, ../scss/partials/base.scss */
.pagination-item:hover a,
.pagination-active:hover a,
.pagination-break:hover a {
  color: #fff;
}

/* line 50, ../scss/partials/base.scss */
.pagination-break {
  border: 1px solid transparent;
}
/* line 53, ../scss/partials/base.scss */
.pagination-break:hover {
  cursor: none;
  background: transparent;
  border: 1px solid transparent;
}

/* line 60, ../scss/partials/base.scss */
.pagination-active {
  background: #2a2a2a;
}
/* line 62, ../scss/partials/base.scss */
.pagination-active a {
  color: #fff;
}

/* line 68, ../scss/partials/base.scss */
.with-sub-column {
  display: grid;
  grid-template-columns: 7fr 3fr;
}
/* line 72, ../scss/partials/base.scss */
.with-sub-column .main {
  border-right: 1px solid #ea3434;
}

/* line 80, ../scss/partials/base.scss */
.width-50 {
  width: 50%;
}

/* line 83, ../scss/partials/base.scss */
.width-60 {
  width: 60%;
}

/* line 86, ../scss/partials/base.scss */
.width-70 {
  width: 70%;
}

/* line 89, ../scss/partials/base.scss */
.width-80 {
  width: 80%;
}

/* line 92, ../scss/partials/base.scss */
.width-90 {
  width: 90%;
}

/* line 95, ../scss/partials/base.scss */
.width-100 {
  width: 100%;
}

/* line 100, ../scss/partials/base.scss */
.margin-top-25 {
  margin-top: 25px;
}

/* line 103, ../scss/partials/base.scss */
.margin-top-50 {
  margin-top: 50px;
}

/* line 8, ../scss/coupons-page.scss */
#coupons-page {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 15, ../scss/coupons-page.scss */
#coupons-page #list-wrapper {
  width: 100%;
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
}
/* line 22, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon {
  display: flex;
  flex-direction: column;
  border: 1px solid #2a2a2a;
  background: #eaeaea;
}
/* line 28, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .img-wrapper {
  margin: 10px;
  width: 80%;
  align-self: center;
}
/* line 33, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .img-wrapper a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 40, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .img-wrapper a img {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -ms-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
}
/* line 48, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .img-wrapper a:hover img {
  filter: grayscale(100%);
}
/* line 56, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .details-wrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
/* line 63, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .details-wrapper .detail {
  margin: 5px 25px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
}
/* line 69, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .details-wrapper .detail a,
#coupons-page #list-wrapper .coupon .details-wrapper .detail span {
  font-size: 14px;
  font-weight: 300;
}
/* line 75, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .details-wrapper .detail a {
  color: #2a2a2a;
  transition: all ease-in-out 0.125s;
  -webkit-transition: all ease-in-out 0.125s;
  -moz-transition: all ease-in-out 0.125s;
  -ms-transition: all ease-in-out 0.125s;
  -o-transition: all ease-in-out 0.125s;
}
/* line 79, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .details-wrapper .detail a:hover {
  text-decoration: #ea3434;
  color: #ea3434;
}
/* line 86, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .details-wrapper .view-btn {
  margin-top: 15px;
  border-top: 1px solid #2a2a2a;
}
/* line 90, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .details-wrapper .view-btn a {
  font-family: "Montserrat";
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: #2a2a2a;
  color: #fff;
  transition: all ease-in-out 0.125s;
  -webkit-transition: all ease-in-out 0.125s;
  -moz-transition: all ease-in-out 0.125s;
  -ms-transition: all ease-in-out 0.125s;
  -o-transition: all ease-in-out 0.125s;
}
/* line 102, ../scss/coupons-page.scss */
#coupons-page #list-wrapper .coupon .details-wrapper .view-btn a:hover {
  color: #2a2a2a;
  background: #fff;
}
