@import "./variables.scss";
@import "./mixin.scss";

html, body, div, a, p, span,
h1, h2, h3, h4, h5, h6{
    box-sizing: border-box;
}

// Pagination Custom css

.pagination-container{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.pagination-item,
.pagination-active,
.pagination-break{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:5px 10px;
    border-radius:25px;
    border:1px solid $dark;

    @include transition(0.125s);

    a{
        color: $dark;
        padding:5px;
        width:35px;
        display:block;
        text-align: center;
    }

    &:hover{
        cursor: pointer;
        background: $dark;
        border: 1px solid $dark;

        a{
            color: $white;
        }
    }
}

.pagination-break{
    border: 1px solid transparent;
    
    &:hover{
        cursor: none;
        background: transparent;
        border: 1px solid transparent;
    }
}

.pagination-active{
    background: $dark;
    a{
        color: $white;
    }
}

// Column setup css
.with-sub-column{
    display:grid;
    grid-template-columns: 7fr 3fr;

    .main{
        border-right: 1px solid $red;
    }
    .sub{
    }
}

// Width presets
.width-50{
    width: 50%;
}
.width-60{
    width: 60%;
}
.width-70{
    width: 70%;
}
.width-80{
    width: 80%;
}
.width-90{
    width: 90%;
}
.width-100{
    width: 100%;
}

// Margin presets
.margin-top-25{
    margin-top: 25px;
}
.margin-top-50{
    margin-top: 50px;
}