@import "compass";
@import "./partials/normalize.scss";
@import "./partials/base.scss";
@import "./partials/font.scss";
@import "./partials/mixin.scss";
@import "./partials/variables.scss";

#cart-page{
    padding-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";

    .title{
        display: inline-block;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: 300;
        font-size:24px;
        border-bottom: 1px solid $red;
    }

    .wishlist-title{
        margin-top: 25px;
        padding-top: 25px;
    }

    #cart{
        margin: 25px;

        .coupon-list,
        .wishlist{
            list-style: none;
            padding: 0;
            margin: 0;

            .item{
                box-sizing: border-box;
                padding:20px;
                border-bottom: 1px solid $light;

                .details-wrapper{
                    display:grid;
                    grid-template-columns: 3fr 5fr 2fr;
                    .img-wrapper{
                        display: flex;
                        padding:15px;
                        
                        a{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        
                            img{
                                width: 100%;

                                @include transition(0.125s);
                            }

                            &:hover{
                                img{
                                    filter: grayscale(100%);
                                }
                            }
                        }

                    }

                    .info{
                        padding: 20px;
                        position: relative;
                        z-index: 1;

                        h6{
                            margin: 0;
                            padding: 0;
                            font-size:18px;
                            line-height:22px;
                        }

                        p{
                            margin: 10px 0 0 0;
                            padding: 0;
                            font-size:15px;
                            line-height: 17px;
                        }

                        .price{
                            position: absolute;
                            bottom: 20px;

                            span{
                                font-weight: 600;
                            }
                        }

                        .control{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                        }
                    }   

                    .calculation{
                        list-style: none;
                        padding: 20px;
                        margin: 0;
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        li{
                            font-family: "Montserrat";
                            width:100%;
                            margin-top: 15px;
                            font-weight: 300;

                            &:first-child{
                                margin-top: 0;
                            }

                            .quantity-control{
                                width: 100%;
                                padding: 3px 8px;
                                box-sizing: border-box;
                            }

                            span{
                                font-weight:600;
                            }
                        }
                    }
                }
            }
        }
    }

    #calculation-total{
        font-family: "Montserrat";
        background: $light;
        margin: 50px 25px;
        padding: 20px;
        border-radius: 4px;
        border: 1px solid $dark;
        border-top: 4px solid $red;

        .checkout-button{
            margin: 10px;
            padding: 7px 25px;
            background: $red;
            display:inline-block;
            border-radius: 4px;
            border: 1px solid $red;
            color: $white;

            @include transition(0.125s);

            &:hover{
                cursor: pointer;
                color: $red;
                background: $dark;
            }
        }
    }
}