@import "compass";
@import "./partials/normalize.scss";
@import "./partials/base.scss";
@import "./partials/font.scss";
@import "./partials/mixin.scss";
@import "./partials/variables.scss";

#checkout-page{
    padding-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";

    .info-wrapper{
        width:60%;
        margin: 0 30% 0 10%;
        max-width: 1280px;

        .title{
            font-size:22px;
            margin: 15px 0;
            padding: 0 10px;
            display: inline-block;
            font-weight: 300;
            border-bottom: 1px solid $red;
        }

        .review-order-wrapper{

            .info{
                margin: 0;
                margin-top:15px;
                padding: 0;
                font-weight: 300;
                font-size:12px;

                &:first-child{
                    margin-top: 0;
                }
            }
        }

        .info-input-wrapper{
            width: 100%;
            display: grid;
            border: 1px solid $red;
            margin-top:40px;
            border-radius: 4px;
            grid-template-areas: 
                "title title"
                "address payment"
                "address billing-address";
            padding: 25px;

            .title-wrapper{
                grid-area: title;
                .title{
                    display:inline-block;
                }
            }

            .address-info,
            .payment-info,
            .billing-address-info{
                display:flex;
                flex-direction: column;

                .section-header{
                    font-family: "Montserrat";
                    font-size: 16px;
                    font-weight: bold;
                    margin:15px 0;
                    border-bottom: 1px solid $light;

                    label{
                        margin-left:15px;
                        color:$blue;
                        font-weight: 300;

                        @include transition(0.125s);

                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;    
                        }
                    }
                }
            }

            .address-info{
                grid-area: address;
            }
            .payment-info{
                grid-area: payment
            }
            .billing-address-info{
                grid-area: billing-address;
            } 
            
            label{
                font-family: "Montserrat";
                font-size: 14px;
                font-weight: 300;
            }

            .name{
                font-size: 16px;
            }
        }
    }
}