@import "compass";
@import "./partials/normalize.scss";
@import "./partials/base.scss";
@import "./partials/font.scss";
@import "./partials/mixin.scss";
@import "./partials/variables.scss";

#company-page{
    padding-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #list-wrapper{
        width: 100%;
        margin: 25px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 15px;

        .company{
            display: flex;
            flex-direction: column;
            border:1px solid $dark;
            background: $light;

            .img-wrapper{
                margin: 10px;
                width: 80%;
                align-self: center;

                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        @include transition(0.25s);
                    }

                    &:hover{

                        img{
                            filter: grayscale(100%);
                        }
                    }
                }

            }

            .details-wrapper{
                list-style: none;
                display:flex;
                flex-direction: column;
                padding: 0;
                margin: 0;

                .detail{
                    margin: 5px 25px;
                    font-family: "Montserrat";
                    font-weight: bold;
                    font-size:16px;

                    a,
                    span{
                        font-size:14px;
                        font-weight: 300;
                    }

                    a{
                        color: $dark;
                        @include transition;

                        &:hover{
                            text-decoration: $red;
                            color: $red;
                        }
                    }
                }

                .view-btn{
                    margin-top:15px;
                    border-top:1px solid $dark;

                    a{
                        font-family: "Montserrat";
                        text-decoration: none;
                        display:block;
                        width:100%;
                        padding:15px 0;
                        text-align: center;
                        background: $dark;
                        color:$white;

                        @include transition(0.125s);

                        &:hover{
                            color: $dark;
                            background: $white;
                        }
                    }
                }
            }
        }
    }
}